body {
     margin: 0;
     background: url("../images/fog-trees-background.jpg") center center fixed;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}

.modal-content{
     margin: 0;
     background: url("../images/LVF7jGv.jpg") center center fixed;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;  
}

.modal-header, .modal-footer {
     border-style: none;
}

.jumbotron, h1, h2 {
     font-family: 'Roboto Condensed',sans-serif;
     background-color: rgba(245, 245, 245, 0);
     letter-spacing: 2px;
     font-weight: bold;
     transform: uppercase;
     text-shadow: 1px 1px 0 #2be70e, -1px -1px 0 #2be70e, 1px -1px 0 #2be70e, -1px 1px 0 #2be70e, 0px 1px 0 #2be70e, 1px 0px 0 #2be70e, 0px -1px 0 #2be70e, -1px 0px 0 #2be70e, 3px 3px 2px #000000;    text-shadow: 1px 1px 0 #2be70e, -1px -1px 0 #2be70e, 1px -1px 0 #2be70e, -1px 1px 0 #2be70e, 0px 1px 0 #2be70e, 1px 0px 0 #2be70e, 0px -1px 0 #2be70e, -1px 0px 0 #2be70e, 3px 3px 2px #000000;
} 

.jumbotron h1 {
     margin-bottom: 35px;
}

h4 {
	color: white;
/*     text-shadow: 1px 1px 0 #2be70e, -1px -1px 0 #2be70e, 1px -1px 0 #2be70e, -1px 1px 0 #2be70e, 0px 1px 0 #2be70e, 1px 0px 0 #2be70e, 0px -1px 0 #2be70e, -1px 0px 0 #2be70e, 3px 3px 2px #000000;    text-shadow: 1px 1px 0 #2be70e, -1px -1px 0 #2be70e, 1px -1px 0 #2be70e, -1px 1px 0 #2be70e, 0px 1px 0 #2be70e, 1px 0px 0 #2be70e, 0px -1px 0 #2be70e, -1px 0px 0 #2be70e, 3px 3px 2px #000000;
*/}

.input-group{
     margin-bottom: 10px;
}

.well {
     border-style: none;
     background-color: rgba(245, 245, 245, 0.2);
}

#pic{
     max-width: 50%;
     max-height: 50%;
     display: block;
     margin: auto;
     margin-bottom: 30px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
     background-color: #a1140b;
     color: white;
}
.btn:hover{
     background-color: #efebec;
     color: red;
}